* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background-color: grey;
}

/* commons */
.bg-white {
    background-color: white;
    padding-left: 40px;
    padding-top: 10px;
}

.position {
    text-align: center;
} 

/* inizio main */
main {
    margin-top: 50px;
    margin-left: 200px;
}

/* fine main */

/* inizio primo div */
.bottom-blue {
    color: white;
    background-color: #14aaf5;
    border: 1px solid #14aaf5;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    }
.bottom-white {
    color: grey;
    border: 1px solid grey;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    
}

/* fine primo div */

/*inizio secondo div*/
.pd-div {
    padding-top: 30px;
}
.pd-li {padding-top: 15px;}

/*fine secondo div*/